<ion-view view-title="Cards">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>

  <ion-content>
    <form class="cards-form" ng-submit="createCard()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Front of card</span>
          <input type="text" class="form-control" ng-model="newCard.front" placeholder="Capital of Canada?">
        </label>

        <label class="item item-input">
          <span class="input-label">Back of card (optional)</span>
          <input type="text" class="form-control" ng-model="newCard.back" placeholder="Ottawa">
        </label>
      </div>

      <div class="padding">
        <button type="submit" class="button button-block button-positive">Create Card</button>
      </div>
    </form>

    <ion-list ng-show="cards.length > 0">
      <ion-item ng-repeat="card in cards | orderBy: 'last_updated' | filter: {completed: false}" on-double-tap="switchActiveSide(card)" class="item-button-right">
        <span ng-show="card.frontIsActive">
          {{card.front}}
        </span>

        <span ng-show="!card.frontIsActive">
          {{card.back}}
        </span>
        <div class="buttons">
          <button class="button button-energized" ng-click="recycle(card)">
            <i class="icon ion-arrow-return-right"></i>
          </button>
          <button class="button button-balanced" ng-click="complete(card)">
            <i class="icon ion-checkmark"></i>
          </button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


