<ion-view title="Cards" cache-view="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-compose" ng-click="modal.show()">
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <td-cards>
      <div class="card-count">{{filtered.length}} active cards</div>
      <td-card ng-repeat="card in cards | orderBy: 'last_updated' | filter: {completed: false} as filtered" on-double-tap="switchActiveSide(card)"
               on-transition-right="recycle(card, swipeCard)" on-transition-left="complete(card)" on-partial-swipe="cardPartialSwipe(amt)"
               ng-class="{flipped: !card.frontIsActive}">

        <div class="card-front face">
          {{card.front}}
          <span class="card-sender" ng-show="card.sender_email.length > 0">Shared with you by {{card.sender_email}}</span>
          <a href="#" ng-click="showShareWithGroupsModal(card)" class="share-link">Share with your groups</a>
          <span ng-show="card.back.length > 0" class="back-instruction">Has back</span>
        </div>

        <div class="card-back face">
          {{card.back}}
        </div>
        <!--<div class="no-text overlayBox"><div class="noBox boxed">Trash</div></div>-->
        <!--<div class="yes-text overlayBox"><div class="yesBox boxed" id="centerMe">Recycle</div></div>-->
      </td-card>
    </td-cards>
</ion-view>
