<ion-view view-title="Cards">
  <ion-content>
    <form class="cards-form" ng-submit="createCard()">
      <div class="input-group">
        <input type="text" class="form-control" ng-model="newCard" placeholder="Type a message...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">Create</button>
        </span>
      </div>

    </form>

    <ion-list>
      <ion-item ng-repeat="card in cards" ng-class="{completed: card.status == 'completed'}">
        {{card.content}}
        <ion-option-button class="button-royal" ng-click="completeCard(card)">
          <i class="icon ion-checkmark"></i>
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


