<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">New Card</h1>
    <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <form class="cards-form" ng-submit="createCard()">
      <div class="list">
        <ion-input class="item item-stacked-label borderless card-input">
          <label>Front of card</label>
          <textarea class="form-control front-input" ng-model="newCard.front" placeholder=""></textarea>
        </ion-input>

        <ion-input class="item item-stacked-label borderless card-input">
          <label>Back of card (optional)</label>
          <textarea class="form-control back-input" ng-model="newCard.back"
                      placeholder=""></textarea>
        </ion-input>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Create Card</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
