<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Edit Group</h1>
    <button class="button button-clear button-primary" ng-click="groupShowModal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="has-header">
    <div>{{selectedGroup.name}}</div>
    <div>{{selectedGroup.description}}</div>
    <form class="groups-form" ng-submit="addGroupMembers()">
      <div class="list">
        <label class="item item-input">
          <textarea class="form-control" ng-model="selectedGroup.newMemberEmails" placeholder="Add group members (with comma separated emails)"></textarea>
        </label>
      </div>

      <div class="padding">
        <button type="submit" class="button button-block button-positive">Add Group Members</button>
      </div>
    </form>
    <ion-list>
      <ion-list ng-repeat="member in selectedGroupMembers">
        <ion-item>
          <img gravatar-src="member.email" gravatar-size="100">
          <a href="#" ng-click="removeFromGroup(member)">Remove from group</a>
        </ion-item>
      </ion-list>
    </ion-list>
  </ion-content>
</ion-modal-view>
