<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Edit Group</h1>
    <button class="button button-clear button-primary" ng-click="groupShowModal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="has-header">
    <div class="group-name">{{selectedGroup.name}}</div>
    <div class="group-desc">{{selectedGroup.description}}</div>
    <div class="group-creator" ng-if="userIsCreatorOfSelectedGroup">You are the creator of this group</div>
    <form class="groups-form" ng-submit="addGroupMembers()">
      <ion-input class="item taller-item item-stacked-label borderless card-input">
        <label>Add members with emails (separated by comma)</label>
        <textarea class="form-control member-email-input" ng-model="selectedGroup.newMemberEmail" placeholder="email1@gmail.com, email2@gmail.com, etc."></textarea>
      </ion-input>

      <div class="padding">
        <button type="submit" class="button button-block button-positive">Add Group Members</button>
      </div>
    </form>
    <div class="group-members">Members</div>
    <ion-list>
      <ion-list ng-repeat="member in selectedGroupMembers">
        <ion-item>
          <img gravatar-src="member.email" gravatar-size="20">
          <span class="member-email">{{member.email}}</span>
          <i href="#" ng-if="userIsCreatorOfSelectedGroup" ng-click="removeFromGroup(member)" class="ion-ios-close remove-from-group"></i>
        </ion-item>
      </ion-list>
    </ion-list>
    <button href="#" ng-if="userIsCreatorOfSelectedGroup" ng-click="destroyGroup(selectedGroup)" class="destroy-group-button button button-assertive">Destroy group</button>
  </ion-content>
</ion-modal-view>
