<ion-view hide-nav-bar="true" class="main-background-color">
  <ion-content class="main-content">
    <div class="main-title">Stacks</div>

    <div class="button-container">
      <button class="button button-calm" ng-click="signupModal.show()">
        Sign up
      </button>
    </div>

    <div class="button-container">
      <button class="button button-calm" ng-click="loginModal.show()">
        Log in
      </button>
    </div>

    <div class="button-container">
      <button class="button button-calm" ng-click="ctrl.loginWithFacebook()">
        Continue with Facebook
      </button>
    </div>


    <!--<a href="#/passwordResetForm" class="button button-royal button-clear button-block button-small">-->
      <!--I forgot my password :'(-->
    <!--</a>-->

  </ion-content>
</ion-view>
