<ion-view hide-nav-bar="true">
  <ion-content>
    Stacks

    <button class="button button-block button-positive" ng-click="signupModal.show()">
      Sign up
    </button>

    <button class="button button-block button-positive" ng-click="loginModal.show()">
      Log in
    </button>

    <button class="button button-block button-positive" ng-click="ctrl.loginWithFacebook()">
      Facebook
    </button>

    <!--<a href="#/passwordResetForm" class="button button-royal button-clear button-block button-small">-->
      <!--I forgot my password :'(-->
    <!--</a>-->

  </ion-content>
</ion-view>
