<ion-modal-view class="main-background-color">
  <ion-header-bar class="bar bar-header bar-calm sign-up-header">
    <button class="button button-clear button-primary" ng-click="loginModal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <div class="mid-padding stacks-welcome">Good to see you again.</div>
    <form name="loginForm" class="list">
      <ion-input class="item item-stacked-label borderless">
        <ion-label>Email</ion-label>
        <input type="email" name="email" ng-model="data.email" class="underline-input">
      </ion-input>

      <ion-input class="item item-stacked-label borderless">
        <ion-label>Password</ion-label>
        <input type="password" name="password" ng-model="data.password" class="underline-input">
      </ion-input>
    </form>
  </ion-content>
  <ion-footer-bar align-title="left" class="bar-calm">
    <button class="button sign-up-button" ng-click="loginEmail()">
      Login
    </button>
  </ion-footer-bar>
</ion-modal-view>
