<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Notifications</h1>
    <button class="button button-clear button-primary" ng-click="notificationsModal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <ion-list>
      <div ng-repeat="groupInvite in groupInvites">
        <div class="group-invite-notification">
          You have been invited to {{groupInvite.group_name}} by {{groupInvite.inviter_email}}
          <div class="invite-replies">
            <a href="#" ng-click="acceptGroupInvite(groupInvite)">Accept</a>
            <a href="#" ng-click="declineGroupInvite(groupInvite)">Decline</a>
          </div>
        </div>
      </div>

      <div ng-repeat="cardInvite in cardInvites">
        Group member {{cardInvite.sender_email}} has shared this card with you. Would you like to add it to your deck?
        <div>FRONT: {{cardInvite.front}}</div>
        <div>BACK: {{cardInvite.back}}</div>
        <a href="#" ng-click="acceptCardInvite(cardInvite)">Accept</a>
        <a href="#" ng-click="declineCardInvite(cardInvite)">Decline</a>
        <br>
        <br>
      </div>
    </ion-list>
  </ion-content>
</ion-modal-view>
