<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Sign Up</h1>
    <button class="button button-clear button-primary" ng-click="signupModal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding has-header">
    <form name="signupForm" ng-submit="register()" class="list card no-margin">

      <ion-input class="item item-input item-stacked-label">
        <ion-label>Email</ion-label>
        <input type="email" name="email" ng-model="data.email">
      </ion-input>

      <ion-input class="item item-input item-stacked-label">
        <ion-label>Password</ion-label>
        <input type="password" name="password" ng-model="data.password">
      </ion-input>

      <ion-input class="item-input padding">
        <input type="submit" class="button button-positive" value="Sign up"/>
      </ion-input>
    </form>
  </ion-content>
</ion-modal-view>
