<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-positive">
    <h1 class="title">Sign Up</h1>
    <button class="button button-clear button-primary" ng-click="signupModal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding has-header">
    <form name="signupForm" ng-submit="register()" class="list card no-margin">
      <ion-label>Email</ion-label>
      <input type="email" name="email" placeholder="Your email..." ng-model="data.email"/>

      <ion-label>Password</ion-label>
      <input type="password" name="password" placeholder="Your password" ng-model="data.password">

      <ion-input class="item-input padding">
        <input type="submit" class="button button-positive" value="Sign up"/>
      </ion-input>
    </form>
  </ion-content>
</ion-modal-view>
